@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*Posso importar as duas fonts no mesmo import*/

:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #22D4FD;
    /*substituir as fontes no css como nas cores*/
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh;*/ /*altura do body = 100% vh = view height*/
    /*Depois que coloquei o footer e o header retirei o código acima pois já temos um cabeçalho e um footer e não preciso que o body ocupe 100% da página*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 100%;
}

.cabecalho {
    padding: 3% 0% 0% 15%; /*Espaçamento do cabeçalho*/
}

.cabecalho__menu {
    display: flex;
    gap: 25px;
    margin: 25px 0;
}

.cabecalho__menu__link {
    text-decoration: double;
    font-family: var(--fonte-secundaria);
    /* font-size: 22px; */
    font-size: 1.37rem; /* unidade de medida absoluta pela relativa */
    font-weight: bold;
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex; /*define apresentacao flexivel*/
    align-items: center; /*alinha de acordo com o elemento de maior altura*/
    justify-content: space-between;
    padding: 2% 15%; /*Espaçamento externo do main*/
}

.apresentacao__conteudo {
    width: 50%; /*largura do conteúdo de apresentação*/
    display: flex;
    flex-direction: column; /*itens do flexbox como colunas*/
    gap: 20px;  /*Espaçamento externo*/
}

.apresentacao__conteudo__titulo {
    font-size: 1.50rem;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__subtitulo {
    display: flex;
    justify-content: center;
    font-family: 'Krona One', sans-serif;
    font-size: 1.12rem;
    font-weight: bold;
    margin: 10% 0 5%;
}

.apresentacao__links {
    display: flex;  /*Crio o flexbox*/ 
    justify-content: space-between; /*Espaçamento entre os links*/
    flex-direction: row;
    align-items: center;  /*Centralizar os links*/
    gap: 20px;  /*Espaçamento*/
}

.apresentacao__links__link {
    display: flex;
    justify-content: center; /*logo e nome centralizado*/
    align-items: center;  /*nome centralizado de acordo com o tamanho da imagem*/
    width: 50%; /*largura do border*/
    text-align: center;
    text-decoration: none;
    gap: 5px;
    padding: 15px;
    margin: 5px 5px 5px; /*obs: diminui a margin para o border não empurrar os outros quando o hover for chamado*/
    color: var(--cor-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
    border-radius: 12px;
    transition: 0.5s;
}

.apresentacao__links__link:hover {
    background-color: rgb(6, 128, 128);
    font-size: 1.1rem;
    transition: 0.5s;
}

.apresentacao__imagem {
    width: 25%;  /*Em relação a tag pai main*/
    margin: 0 10% 20%; /*espaçamento externo para posicionar a foto*/
    border: 2px solid var(--cor-terciaria); /*borda em volta da foto*/
    border-radius: 300px; /*arredondar a foto*/
    justify-content: space-between;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 30px;
    margin-top: 10%; /*utilizei esse margin para o footer descer pois estava com um espaço em baixo*/
    text-align: center;
    font-family: 'krona-one', sans-serif;
    font-weight: 400;
}

/* mobile */
@media (max-width: 1000px) {
    .cabecalho {
        padding: 8% 0%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse; /*Column revese para ficar em colunas de forma reversa*/
        padding: 5% 5%;
    }

    .apresentacao__conteudo {
        width: auto; /*ou 100%*/
        margin: 20px 0;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.25rem;
        padding: 20px 0 0;
    }

    .apresentacao__conteudo__paragrafo {
        padding: 5px 0;
    }

    .apresentacao__links {
        flex-direction: column;
    }

    .apresentacao__imagem {
       width: 40%;
       margin: 0 0 0 1px;
    }

    .rodape {
        padding: 25px; /*espaçamento do footer*/
        margin-top: 15px ;
    }
    
}